{% extends "ProyectoWebApp/base.html" %}

{% load static %}
  
{% block content %}

    {% for post in posts %}
        <section class="page-section clearfix ">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.image.url}}" alt="" style="width:50%">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h3 class="section-heading mb-4" >
                            <span class="section-heading-lower">{{post.titulo}}</span>
                            <span class="section-heading-upper">{{post.contenido}}</span>
                        </h3>
                        <div>
                            <p style="text-align:left;">Autor: {{post.autor}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    <section>
        <div style="width:75%; text-align: center;color:white; background-color:rgb(24, 64, 8, 0.8);;border: radius 10px;; margin: auto;">
                <p>Categorías:</p>
                <p>
                    {% for post in posts %}
                        {% for categoria in post.categoria.all %}
                            {{categoria.nombre}} &nbsp &nbsp
                        {% endfor %}
                    {% endfor %}
                </p>
               
        </div>
    </section>    

{% endblock %}